$primary: #0f436e;
$primary-light: #1a70b6;
$front: #fff;
$front-light: #9e9e9e;

@font-face {
  font-family: "roboto-thin";
  src: url("../Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "roboto-italic";
  src: url("../Roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: "roboto-light";
  src: url("../Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "roboto-reg";
  src: url("../Roboto/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  z-index: 3000;
}

/* Track */
::-webkit-scrollbar-track {
  background: $front;
  box-shadow: inset 0 0 5px $front;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #145992;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

@mixin themeBlueWhite {
  span,
  p,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  i {
    color: $front;
  }
  div,
  ul,
  li {
    background-color: $primary;
  }
}

@mixin section-title {
  text-align: center;
  font-family: "roboto-light";
  margin: 0;
  color: $front;
  padding: 3% 0;
  background-color: $primary-light;
}

@mixin action-jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $front;
  padding: 0.1em 2em;
  padding-right: 4em;
  border-radius: 10px;
  -webkit-clip-path: polygon(74% 0, 82% 50%, 75% 100%, 0% 100%, 7% 49%, 0 0);
  clip-path: polygon(74% 0, 82% 50%, 75% 100%, 0% 100%, 7% 49%, 0 0);
  @media screen and (max-width: 800px) {
    padding: 0.1em 1em;
    padding-right: 2em;
  }
}

@mixin result-job {
  background-color: $front-light;
  padding: 3em 3em;
  -webkit-clip-path: circle(33.8% at 50% 50%);
  clip-path: circle(33.8% at 50% 50%);
}
