$primary: #0f436e;
$primary-light: #1a70b6;
$front: #fff;

@font-face {
  font-family: "roboto-thin";
  src: url("../Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("../Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "roboto-italic";
  src: url("../Roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: "roboto-light";
  src: url("../Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "roboto-reg";
  src: url("../Roboto/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  z-index: 3000;
}

/* Track */
::-webkit-scrollbar-track {
  background: $front;
  box-shadow: inset 0 0 5px $front;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #145992;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

@mixin themeBlueWhite {
  span,
  p,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  i {
    color: $front;
  }
  div,
  ul,
  li {
    background-color: $primary;
  }
}
