.chat-zone {
  z-index: 1200;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  padding: 100px 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  iframe {
    border: none;
    border-radius: 10px;
    @media screen and (max-width: 840px) {
      width: 70%;
      height: 90%;
    }
  }
  @media screen and (max-width: 840px) {
    padding: 20px 20px;
  }
}

.hidden {
  transition: 0.5s all;
  display: none;
}

.install {
  position: fixed !important;
  bottom: 125px;
  right: 15px;
  padding: 15px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 900;
  &:hover {
    background-color: $primary-light;
  }
}

.bg-primary {
  background-color: $primary;
}
.bg-prim-light {
  background-color: $primary-light;
}
.text-primary {
  color: $primary;
}

nav {
  .nav-wrapper {
    .brand-logo {
      display: flex;
      align-items: center;
      margin-top: 10px;
      span {
        font-size: 18px;
        font-family: "roboto-bold";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 3px 5px;
      }
      .first {
        background-color: $front;
        border-radius: 5px 0px 0px 5px;
      }
      .second {
        background-color: $primary;
        border-radius: 0px 5px 5px 0px;
        border: none !important;
      }
      img {
        width: 40px;
        margin-right: 20px !important;
      }
      @media screen and (max-width: 600px) {
        span {
          height: 20px;
          padding: 2px 3px;
        }
        .first {
          border-radius: 2px 0px 0px 2px;
        }
        .second {
          border-radius: 0px 2px 2px 0px;
        }
      }
    }
    padding-left: 15px;
    .nav-mobile {
      a {
        font-family: "roboto-light";
      }
    }
  }
}

.nav-content {
  .tabs {
    overflow: hidden;
    @media screen and (max-width: 950px) {
      overflow-x: hidden;
    }
  }
}

.sidenav {
  li {
    width: 100% !important;
    &:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100% !important;
      }
    }
  }
}

.footer-copyright {
  box-shadow: 0px 0px 10px $primary-light;
  margin-top: 3%;
}

.hidden {
  display: none;
}

.android-float {
  position: fixed;
  bottom: 25px;
  right: 15px;
  padding: 15px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 900;
  &:hover {
    background-color: $primary-light;
  }
}

.modal {
  padding: 10px;
  overflow: hidden;
  &:focus {
    outline: none;
  }
  flex-direction: column;
  align-items: center;
  .row {
    display: flex !important;
    align-items: center;
  }
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    a {
      display: flex;
      align-items: center;
      width: fit-content;
      justify-content: flex-end;
      padding: 5px 15px;
      border-radius: 3px;
      i {
        margin-left: 10px;
      }
      &:hover {
        background-color: $primary;
        color: $front;
        i {
          color: $front;
        }
      }
    }
  }
  option,
  span,
  label {
    color: $primary !important;
  }
  i {
    font-size: 30px;
    color: $primary;
  }
}

.aside-socials {
  position: fixed;
  top: 30%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 30px;
  background-color: transparent;
  list-style: none;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: $primary-light;
    padding: 15px;
    margin: 5px;
    &:hover {
      transition: 0.3s all;
      background-color: $primary;
    }
    clip-path: polygon(
      50% 0%,
      83% 12%,
      100% 43%,
      94% 78%,
      68% 100%,
      32% 100%,
      6% 78%,
      0% 43%,
      17% 12%
    );
    img {
      width: 20px;
      height: 20px;
    }
  }
}
