.chat-zone {
  z-index: 1200;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  padding: 100px 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  iframe {
    border: none;
  }
}

.hidden {
  display: none;
}

.android-float {
  position: fixed;
  bottom: 25px;
  right: 15px;
  padding: 15px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 900;
}

.modal {
  padding: 10px;
  overflow: hidden;
  &:focus {
    outline: none;
  }
  flex-direction: column;
  align-items: center;
  .row {
    display: flex !important;
    align-items: center;
  }
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    a {
      display: flex;
      align-items: center;
      width: fit-content;
      justify-content: flex-end;
      padding: 5px 15px;
      border-radius: 3px;
      i {
        margin-left: 10px;
      }
      &:hover {
        background-color: $primary;
        color: $front;
        i {
          color: $front;
        }
      }
    }
  }
  option,
  span,
  label {
    color: $primary !important;
  }
  i {
    font-size: 30px;
    color: $primary;
  }
}
