@font-face {
  font-family: "roboto-thin";
  src: url("../Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-italic";
  src: url("../Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-black";
  src: url("../Roboto/Roboto-Black.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  z-index: 3000;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #145992;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

.title-reverse {
  float: left;
  position: relative;
  top: -30px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "roboto-black";
  margin: 0;
  color: #fff;
  padding: 1% 3%;
  background-color: #1a70b6;
  width: fit-content;
  border-radius: 0px 30px 30px 0px;
  float: right;
  border-radius: 30px 0px 0px 30px;
  font-family: "roboto-black";
}

.nav-mobile a {
  font-family: "roboto-light";
}
.nav-mobile a:hover {
  transition: 0.3s all;
  font-weight: 700;
}

.chat-zone {
  z-index: 1200;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  padding: 100px 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.chat-zone iframe {
  border: none;
  border-radius: 10px;
}
@media screen and (max-width: 840px) {
  .chat-zone iframe {
    width: 70%;
    height: 90%;
  }
}
@media screen and (max-width: 840px) {
  .chat-zone {
    padding: 20px 20px;
  }
}

.hidden {
  transition: 0.5s all;
  display: none;
}

.install {
  position: fixed !important;
  bottom: 125px;
  right: 15px;
  padding: 15px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 900;
}
.install:hover {
  background-color: #1a70b6;
}

.rel-pos {
  position: relative;
}

.bg-primary {
  background-color: #0f436e;
}

.bg-primary-dark {
  background-color: #05335c;
}

.bg-prim-light {
  background-color: #1a70b6;
}

.text-primary {
  color: #0f436e;
}

.text-front-light {
  color: #f7f7f7 !important;
}

nav .nav-wrapper {
  padding-left: 15px;
}
nav .nav-wrapper .brand-logo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
nav .nav-wrapper .brand-logo span {
  font-size: 18px;
  font-family: "roboto-bold";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 3px 5px;
}
nav .nav-wrapper .brand-logo .first {
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
}
nav .nav-wrapper .brand-logo .second {
  background-color: #0f436e;
  border-radius: 0px 5px 5px 0px;
  border: none !important;
}
nav .nav-wrapper .brand-logo img {
  width: 40px;
  margin-right: 20px !important;
}
@media screen and (max-width: 600px) {
  nav .nav-wrapper .brand-logo span {
    height: 20px;
    padding: 2px 3px;
  }
  nav .nav-wrapper .brand-logo .first {
    border-radius: 2px 0px 0px 2px;
  }
  nav .nav-wrapper .brand-logo .second {
    border-radius: 0px 2px 2px 0px;
  }
}
nav .nav-wrapper .nav-mobile a {
  font-family: "roboto-light";
}

.nav-content .tabs {
  overflow: hidden;
}
@media screen and (max-width: 950px) {
  .nav-content .tabs {
    overflow-x: hidden;
  }
}

.sidenav li {
  width: 100% !important;
}
.sidenav li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav li:first-child img {
  width: 100% !important;
}

footer a:hover {
  transition: all;
  font-family: "roboto-light";
}
footer .footer-copyright {
  margin-top: 3%;
}

.hidden {
  display: none;
}

.android-float {
  position: fixed;
  bottom: 25px;
  right: 15px;
  padding: 15px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 900;
}
.android-float:hover {
  background-color: #1a70b6;
}

.modal {
  padding: 10px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.modal:focus {
  outline: none;
}
.modal .row {
  display: flex !important;
  align-items: center;
}
.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
}
.modal .modal-footer a {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: flex-end;
  padding: 5px 15px;
  border-radius: 3px;
}
.modal .modal-footer a i {
  margin-left: 10px;
}
.modal .modal-footer a:hover {
  background-color: #0f436e;
  color: #fff;
}
.modal .modal-footer a:hover i {
  color: #fff;
}
.modal option,
.modal span,
.modal label {
  color: #0f436e !important;
}
.modal i {
  font-size: 30px;
  color: #0f436e;
}

.aside-socials {
  position: fixed;
  z-index: 999;
  top: 30%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 30px;
  background-color: transparent;
  list-style: none;
}
.aside-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #1a70b6;
  padding: 15px;
  margin: 5px;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.aside-socials a:hover {
  transition: 0.3s all;
  background-color: #0f436e;
}
.aside-socials a img {
  width: 20px;
  height: 20px;
}

nav .nav-wrapper {
  padding-left: 15px;
}
nav .nav-wrapper .brand-logo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
nav .nav-wrapper .brand-logo span {
  font-size: 18px;
  font-family: "roboto-bold";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 3px 5px;
}
nav .nav-wrapper .brand-logo .first {
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
}
nav .nav-wrapper .brand-logo .second {
  background-color: #0f436e;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #fff;
}
nav .nav-wrapper .brand-logo img {
  width: 40px;
  margin-right: 20px !important;
}
nav .nav-wrapper .nav-mobile a {
  font-family: "roboto-light";
}

.appointment {
  padding: 0;
  background-color: #fff;
}
.appointment .row {
  margin-bottom: 0px;
}
.appointment .header {
  height: 30vh;
  background-image: url("../img/appointment.jpeg");
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat;
}
.appointment .header h4 {
  display: flex;
  align-items: center;
  background-color: #2195f33d;
  font-family: "roboto-black";
  margin: 0;
  padding: 0em 2em;
  width: 100%;
  height: 100%;
  color: #0f436e !important;
}
.appointment p {
  font-size: 22px;
  font-family: "roboto-thin";
  text-align: center;
  margin: 25px auto;
  padding: 3em 5em 2em;
}
@media screen and (max-width: 750) {
  .appointment p {
    padding: 0;
  }
}
.appointment .card {
  border-radius: 5px;
  margin-bottom: 6rem;
  box-shadow: 0px 0px 10px grey;
}
.appointment .card p {
  padding: 0.5em;
  overflow-y: scroll;
}
.appointment .card .step-content {
  overflow: hidden !important;
}
.appointment .card .step-content .container {
  overflow-y: scroll;
  overflow-x: hidden;
}
.appointment .card .step-content .switch label input[type=checkbox]:checked + .lever {
  background-color: #1a70b6;
}
.appointment .card .step-content .switch label input[type=checkbox]:checked + .lever:after {
  background-color: #fff;
}
.appointment .card .step-content input {
  font-family: "roboto-light";
}
.appointment .card .step-content label {
  font-family: "roboto-light" !important;
}
.appointment .card .step-content span {
  color: #0f436e !important;
  font-family: "roboto-thin" !important;
}
.appointment .card .step-content i {
  color: #0f436e;
}
.appointment .card .step-content i:hover {
  color: #fff;
}
.appointment .card .step-content .datepicker-date-display * {
  color: #f7f7f7 !important;
}
.appointment .card .step-content .timepicker-digital-display * {
  color: #f7f7f7 !important;
}
.appointment .card .step-content .timepicker-tick {
  background-color: #0f436e !important;
  color: #f7f7f7;
}
.appointment .card .step-content .timepicker-tick:focus {
  background-color: #f7f7f7 !important;
  color: #0f436e !important;
}
.appointment .card .step-content .timepicker-tick:hover {
  background-color: #f7f7f7 !important;
  color: #0f436e !important;
}
.appointment .card .step-content .timepicker-canvas-bearing {
  fill: #0f436e;
}
.appointment .card .step-content .timepicker-canvas-bg {
  fill: #0f436e;
}
.appointment .card .step-content .timepicker-canvas line {
  stroke: #0f436e !important;
}
.appointment .card .step-content h5 {
  text-align: center;
  font-family: "roboto-light";
  color: #1a70b6;
}
.appointment .card .step-content button {
  background-color: #f7f7f7;
  color: #0f436e !important;
}
.appointment .card .step-content button:hover {
  transition: 0.3s color;
  background-color: #fff;
  color: #0f436e !important;
}
.appointment .card .step-content p {
  font-size: 18px;
  font-family: "roboto-thin";
  text-align: center;
  color: #1a70b6;
  font-size: 20px;
  margin: 5px 0;
}
@media screen and (max-width: 750) {
  .appointment .card .step-content p {
    padding: 0;
  }
}
.appointment .card .step-content .switch {
  display: flex;
  justify-content: center;
}
.appointment .card .step-content .switch label {
  font-size: 18px;
  font-family: "roboto-light";
}
.appointment .card .step-content .datepicker-date-display {
  background-color: #0f436e;
}
.appointment .card .step-content .timepicker-tick {
  border-color: #0f436e;
}
.appointment .card .step-content .timepicker-tick.active {
  background-color: #0f436e;
}
.appointment .card .step-content .timepicker-digital-display {
  background-color: #0f436e;
}
.appointment .card .step-content .datepicker-cancel,
.appointment .card .step-content .datepicker-clear,
.appointment .card .step-content .datepicker-today,
.appointment .card .step-content .datepicker-done {
  color: #0f436e;
}
.appointment .card .step-content .datepicker-table td.is-selected {
  background-color: #0f436e;
}
.appointment .card .step-content .datepicker-table td.is-today {
  color: #0f436e;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}
footer .col h4 {
  font-family: "roboto-light";
}
footer .col p,
footer .col li {
  font-size: 18px;
  font-family: "roboto-thin";
  text-align: center;
}
footer .col a {
  line-height: 20px;
}

/*# sourceMappingURL=appointment.css.map */
