@import "./_config.scss";
@import "./_utilities.scss";

nav {
  .nav-wrapper {
    .brand-logo {
      display: flex;
      align-items: center;
      margin-top: 10px;
      span {
        font-size: 18px;
        font-family: "roboto-bold";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 3px 5px;
      }
      .first {
        background-color: $front;
        border-radius: 5px 0px 0px 5px;
      }
      .second {
        background-color: $primary;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid $front;
      }
      img {
        width: 40px;
        margin-right: 20px !important;
      }
    }
    padding-left: 15px;
    .nav-mobile {
      a {
        font-family: "roboto-light";
      }
    }
  }
}

.appointment {
  padding: 0;
  background-color: $front-light;
  .row {
    margin-bottom: 0px;
  }
  .header {
    height: 30vh;
    background-image: url("../img/appointment.jpeg");
    background-size: contain;
    background-position: bottom;
    background-repeat: repeat;
    h4 {
      display: flex;
      align-items: center;
      background-color: #2195f33d;
      font-family: "roboto-black";
      margin: 0;
      padding: 0em 2em;
      width: 100%;
      height: 100%;
      color: $primary !important;
    }
  }
  p {
    font-size: 22px;
    font-family: "roboto-thin";
    text-align: center;
    margin: 25px auto;
    padding: 3em 5em 2em;
    @media screen and (max-width: 750) {
      padding: 0;
    }
  }
  .card {
    border-radius: 5px;
    margin-bottom: 6rem;
    // background-color: $primary;

    ul.stepper .step:not(:last-of-type)::after {
      // background-color: $primary-light !important;
    }
    .step-content {
      overflow: hidden !important;
      .container {
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .step-actions {
        // position: absolute !important;
        // bottom: 2em !important;
        // right: 0 !important;
        // left: 0 !important;
      }
      &::after {
        // color: $front !important;
        // background-color: $front !important;
      }
      .step-title {
        * {
          // color: $front !important;
        }
        &::before {
          // background-color: $front;
        }
        &::after {
          // color: $front !important;
        }
      }
      .switch label input[type="checkbox"]:checked + .lever {
        background-color: $primary-light;
      }
      .switch label input[type="checkbox"]:checked + .lever:after {
        background-color: $front;
      }
      input {
        font-family: "roboto-light";
        &:hover {
          // border-color: $front !important;
        }
        &:focus {
          // border-color: $front !important;
        }
      }
      label {
        font-family: "roboto-light" !important;
      }
      span {
        color: $primary !important;
        font-family: "roboto-thin" !important;
      }
      i {
        color: $primary;
        &:hover {
          color: $front;
        }
      }
      .datepicker-date-display {
        * {
          color: $front-light !important;
        }
      }
      .input-field {
        * {
          // color: $front-light;
        }
      }
      .timepicker-digital-display {
        * {
          color: $front-light !important;
        }
      }
      .timepicker-tick {
        background-color: $primary !important;
        color: $front-light;
        &:focus {
          background-color: $front-light !important;
          color: $primary !important;
        }
        &:hover {
          background-color: $front-light !important;
          color: $primary !important;
        }
      }
      .timepicker-canvas-bearing {
        fill: $primary;
      }
      .timepicker-canvas-bg {
        fill: $primary;
      }
      .timepicker-canvas line {
        stroke: $primary !important;
      }
      h5 {
        text-align: center;
        font-family: "roboto-light";
        color: $primary-light;
      }
      button {
        background-color: $front-light;
        color: $primary !important;
        &:hover {
          transition: 0.3s color;
          background-color: $front;
          color: $primary !important;
        }
      }
      p {
        font-size: 18px;
        font-family: "roboto-thin";
        text-align: center;
        color: $primary-light;
        font-size: 20px;
        margin: 15px 0;
        @media screen and (max-width: 750) {
          padding: 0;
        }
      }
      .switch {
        display: flex;
        justify-content: center;
        label {
          font-size: 18px;
          font-family: "roboto-light";
        }
      }
      .datepicker-date-display {
        background-color: $primary;
      }
      .timepicker-tick {
        border-color: $primary;
        &.active {
          background-color: $primary;
        }
      }
      .timepicker-digital-display {
        background-color: $primary;
      }
      .datepicker-cancel,
      .datepicker-clear,
      .datepicker-today,
      .datepicker-done {
        color: $primary;
      }
      .datepicker-table {
        td.is-selected {
          background-color: $primary;
        }
        td.is-today {
          color: $primary;
        }
      }
    }
  }
}

footer {
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    h4 {
      font-family: "roboto-light";
    }
    p,
    li {
      font-size: 18px;
      font-family: "roboto-thin";
      text-align: center;
    }
    a {
      line-height: 20px;
    }
  }
}
