@font-face {
  font-family: "roboto-thin";
  src: url("../Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-italic";
  src: url("../Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-black";
  src: url("../Roboto/Roboto-Black.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  z-index: 3000;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #145992;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

.title-reverse {
  float: left;
  position: relative;
  top: -30px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "roboto-black";
  margin: 0;
  color: #fff;
  padding: 1% 3%;
  background-color: #1a70b6;
  width: fit-content;
  border-radius: 0px 30px 30px 0px;
  float: right;
  border-radius: 30px 0px 0px 30px;
  font-family: "roboto-black";
}

.chat-zone {
  z-index: 1200;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  padding: 100px 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.chat-zone iframe {
  border: none;
  border-radius: 10px;
}
@media screen and (max-width: 840px) {
  .chat-zone iframe {
    width: 70%;
    height: 90%;
  }
}
@media screen and (max-width: 840px) {
  .chat-zone {
    padding: 20px 20px;
  }
}

.hidden {
  transition: 0.5s all;
  display: none;
}

.install {
  position: fixed !important;
  bottom: 125px;
  right: 15px;
  padding: 15px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 900;
}
.install:hover {
  background-color: #1a70b6;
}

.rel-pos {
  position: relative;
}

.bg-primary {
  background-color: #0f436e;
}

.bg-primary-dark {
  background-color: #05335c;
}

.bg-prim-light {
  background-color: #1a70b6;
}

.text-primary {
  color: #0f436e;
}

.text-front-light {
  color: #f7f7f7 !important;
}

nav .nav-wrapper {
  padding-left: 15px;
}
nav .nav-wrapper .brand-logo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
nav .nav-wrapper .brand-logo span {
  font-size: 18px;
  font-family: "roboto-bold";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 3px 5px;
}
nav .nav-wrapper .brand-logo .first {
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
}
nav .nav-wrapper .brand-logo .second {
  background-color: #0f436e;
  border-radius: 0px 5px 5px 0px;
  border: none !important;
}
nav .nav-wrapper .brand-logo img {
  width: 40px;
  margin-right: 20px !important;
}
@media screen and (max-width: 600px) {
  nav .nav-wrapper .brand-logo span {
    height: 20px;
    padding: 2px 3px;
  }
  nav .nav-wrapper .brand-logo .first {
    border-radius: 2px 0px 0px 2px;
  }
  nav .nav-wrapper .brand-logo .second {
    border-radius: 0px 2px 2px 0px;
  }
}
nav .nav-wrapper .nav-mobile a {
  font-family: "roboto-light";
}

.nav-content .tabs {
  overflow: hidden;
}
@media screen and (max-width: 950px) {
  .nav-content .tabs {
    overflow-x: hidden;
  }
}

.sidenav li {
  width: 100% !important;
}
.sidenav li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav li:first-child img {
  width: 100% !important;
}

footer a:hover {
  transition: all;
  font-family: "roboto-light";
}
footer .footer-copyright {
  margin-top: 3%;
}

.hidden {
  display: none;
}

.android-float {
  position: fixed;
  bottom: 25px;
  right: 15px;
  padding: 15px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 900;
}
.android-float:hover {
  background-color: #1a70b6;
}

.modal {
  padding: 10px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.modal:focus {
  outline: none;
}
.modal .row {
  display: flex !important;
  align-items: center;
}
.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
}
.modal .modal-footer a {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: flex-end;
  padding: 5px 15px;
  border-radius: 3px;
}
.modal .modal-footer a i {
  margin-left: 10px;
}
.modal .modal-footer a:hover {
  background-color: #0f436e;
  color: #fff;
}
.modal .modal-footer a:hover i {
  color: #fff;
}
.modal option,
.modal span,
.modal label {
  color: #0f436e !important;
}
.modal i {
  font-size: 30px;
  color: #0f436e;
}

.aside-socials {
  position: fixed;
  z-index: 999;
  top: 30%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 30px;
  background-color: transparent;
  list-style: none;
}
.aside-socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #1a70b6;
  padding: 15px;
  margin: 5px;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.aside-socials a:hover {
  transition: 0.3s all;
  background-color: #0f436e;
}
.aside-socials a img {
  width: 20px;
  height: 20px;
}

nav .nav-wrapper {
  padding-left: 15px;
}
nav .nav-wrapper .brand-logo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
nav .nav-wrapper .brand-logo span {
  font-size: 18px;
  font-family: "roboto-bold";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 3px 5px;
}
nav .nav-wrapper .brand-logo .first {
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
}
nav .nav-wrapper .brand-logo .second {
  background-color: #0f436e;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #fff;
}
nav .nav-wrapper .brand-logo img {
  width: 40px;
  margin-right: 20px !important;
}
nav .nav-wrapper .nav-mobile a {
  font-family: "roboto-light";
}

.heading {
  background: url("../img/coder.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.heading .overlay {
  background-color: #2195f33d;
}
.heading .overlay .heading__title {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
}
.heading .overlay .heading__title h1 {
  text-align: center;
  font-size: 45px;
  font-family: "roboto-bold";
}
.heading .overlay .heading__title h4 {
  font-size: 1.5em !important;
}
@media screen and (max-width: 840px) {
  .heading .overlay .heading__title h4 {
    text-align: center;
    font-size: 1em !important;
  }
  .heading .overlay .heading__title h1 {
    font-size: 2em;
    text-align: center;
  }
}
.heading .overlay .heading__title h4 {
  font-family: "roboto-thin";
  margin: 0 !important;
}
.heading .overlay .heading__title h4 span {
  font-family: "roboto-light";
}
@media screen and (max-width: 840px) {
  .heading .overlay .heading__title .heading__action {
    justify-content: center;
  }
  .heading .overlay .heading__title .heading__action a {
    margin: 0.2em;
  }
}
.heading .overlay .heading__title .heading__action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5% 0;
}
.heading .overlay .heading__title .heading__action a {
  margin-right: 15px;
  font-size: 20px;
  font-family: "roboto-light";
  padding: 10px 15px;
  height: auto;
}
.heading .overlay .heading__title .heading__action a:hover {
  background-color: #1a70b6;
}
@media screen and (max-width: 840px) {
  .heading .overlay .heading__title .heading__action a {
    padding: 5px 2px;
    font-size: 18px;
    line-height: 20px;
  }
}

.row {
  margin-bottom: 0 !important;
}

.passport {
  background: #0f436e;
}
.passport > h5 {
  float: left;
  position: relative;
  top: -30px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "roboto-black";
  margin: 0;
  color: #fff;
  padding: 1% 3%;
  background-color: #1a70b6;
  width: fit-content;
  border-radius: 0px 30px 30px 0px;
}
.passport .passport-content {
  display: flex;
  justify-content: space-between;
  padding: 8% 15%;
  width: 100%;
}
@media screen and (max-width: 840px) {
  .passport .passport-content {
    flex-direction: column;
    align-items: center;
  }
  .passport .passport-content-profile {
    width: 80vw;
    border: 5px solid #1a70b6;
  }
}
.passport .passport-content .passport-profile {
  width: 25vw;
  border: 15px solid #1a70b6;
  border-radius: 50%;
  overflow: hidden;
  height: 23vw;
}
@media screen and (max-width: 840px) {
  .passport .passport-content .passport-profile {
    border: 5px solid #1a70b6;
    margin-bottom: 10%;
  }
}
.passport .passport-content .passport-profile img {
  width: 100%;
  height: 100%;
}
.passport .passport-content .passport-identity {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #0f436e;
}
.passport .passport-content .passport-identity p {
  display: flex;
  align-items: center;
  margin: 1em;
}
.passport .passport-content .passport-identity p i {
  font-size: 34px;
  color: #fff;
}
.passport .passport-content .passport-identity p span {
  font-family: "roboto-light";
  font-size: 24px;
  margin-left: 1em;
  color: #f7f7f7;
}

.introduction {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}
.introduction .col {
  padding: 0;
}
.introduction .intro-title {
  float: left;
  position: relative;
  top: -30px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "roboto-black";
  margin: 0;
  color: #fff;
  padding: 1% 3%;
  background-color: #1a70b6;
  width: fit-content;
  border-radius: 0px 30px 30px 0px;
}
.introduction .me {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .introduction .me {
    width: 100vw !important;
  }
}
.introduction .me h4 {
  text-align: center;
  font-family: "roboto-light";
}
.introduction .me h4:first-child {
  margin: 10% auto 5%;
  font-family: "roboto-light";
}
.introduction .me h4:first-child i {
  font-size: 50px;
}
.introduction .me h6 {
  text-align: center;
  font-family: "roboto-thin";
  margin: 0;
}
.introduction .me .card-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction .me .card-panel img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.introduction .detail {
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.introduction .detail .row {
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 700px) {
  .introduction .detail {
    width: 100vw !important;
  }
}
.introduction .detail .why-block {
  display: flex;
  margin-bottom: 5% !important;
}
@media screen and (max-width: 1000px) {
  .introduction .detail .why-block {
    width: 100% !important;
  }
}
@media screen and (max-width: 600px) {
  .introduction .detail .why-block i {
    width: min-content;
  }
}
@media screen and (max-width: 600px) {
  .introduction .detail .why-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .introduction .detail .why-block h4 {
    font-size: 24px import !important;
    text-align: center;
    margin: 10px;
  }
  .introduction .detail .why-block p {
    font-size: 16px !important;
    text-align: center;
  }
  .introduction .detail .why-block i {
    font-size: 30px;
    margin: 25px auto;
  }
}
.introduction .detail .why-block i {
  font-size: 50px;
}
.introduction .detail .why-block h4 {
  margin-top: 0;
  font-family: "roboto-bold";
}
.introduction .detail .why-block p {
  font-family: "roboto-thin";
  font-size: 20px;
}

.media {
  padding: 30px 0;
  padding-top: 0;
  background-color: #f7f7f7;
}
.media > h5 {
  float: left;
  position: relative;
  top: -30px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "roboto-black";
  margin: 0;
  color: #fff;
  padding: 1% 3%;
  background-color: #1a70b6;
  width: fit-content;
  border-radius: 0px 30px 30px 0px;
}
.media > p {
  font-family: "roboto-thin";
  font-size: 22px;
  text-align: center;
  margin: 3px 2em 1em;
  clear: both;
}
.media .article-block {
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.media .article-block .spinner-block {
  margin: 5rem auto 8rem;
}
.media .article-block .card-panel {
  padding: 0;
  margin: 15px;
  border-radius: 10px;
}
@media screen and (max-width: 1120px) and (min-width: 600px) {
  .media .article-block .card-panel {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .media .article-block .card-panel {
    width: 75%;
  }
}
.media .article-block .card-panel img {
  width: 100% !important;
  height: 40%;
  border-radius: 10px 10px 0 0;
}
.media .article-block .card-panel .card-body {
  padding: 10px;
}
.media .article-block .card-panel .card-body h6 {
  font-family: "roboto-light";
}
.media .article-block .card-panel .card-body .title {
  font-size: 14px;
  font-family: "roboto-bold";
}
.media .article-block .card-panel .card-body .source {
  font-size: 12px;
  font-family: "roboto-bold";
}
.media .article-block .card-panel .card-body .more {
  border-radius: 3px;
  padding: 5px 10px;
  color: #2195f3;
}
.media .article-block .card-panel .card-body .more:hover {
  color: white;
  background-color: #2195f3;
}
.media .article-block .card-panel .card-body p {
  font-family: "roboto-thin";
  font-size: 14px;
  height: 30%;
}
.media .article-block .card-panel .card-body a {
  display: block;
  font-family: "roboto-bold";
  text-decoration: none;
  margin: 15px 0;
}

.work--title {
  float: left;
  position: relative;
  top: -30px;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "roboto-black";
  margin: 0;
  color: #fff;
  padding: 1% 3%;
  background-color: #1a70b6;
  width: fit-content;
  border-radius: 0px 30px 30px 0px;
}
.work-description {
  clear: both;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em 7em;
  margin: 0 1%;
}
.work-description--init {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 0.1em 2em;
  padding-right: 4em;
  border-radius: 10px;
  -webkit-clip-path: polygon(74% 0, 82% 50%, 75% 100%, 0% 100%, 7% 49%, 0 0);
  clip-path: polygon(74% 0, 82% 50%, 75% 100%, 0% 100%, 7% 49%, 0 0);
}
@media screen and (max-width: 800px) {
  .work-description--init {
    padding: 0.1em 1em;
    padding-right: 2em;
  }
}
.work-description--init h5 {
  color: #1a70b6;
  font-family: "roboto-bold";
}
.work-description--process {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.work-description--process li {
  display: block;
}
.work-description--process li {
  background-color: #f7f7f7;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
  color: #0f436e;
  font-size: 24px;
  font-family: "roboto-thin";
}
@media screen and (max-width: 800px) {
  .work-description--process li {
    font-size: 18px;
  }
}
.work-description--compute {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-description--compute i {
  display: block;
  font-size: 35px;
  margin: 1em auto;
  padding: 0.5em;
  border-radius: 5px;
  background-color: #fff;
  color: #1a70b6;
}
.work-description--automate {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 0.1em 2em;
  padding-right: 4em;
  border-radius: 10px;
  -webkit-clip-path: polygon(74% 0, 82% 50%, 75% 100%, 0% 100%, 7% 49%, 0 0);
  clip-path: polygon(74% 0, 82% 50%, 75% 100%, 0% 100%, 7% 49%, 0 0);
}
@media screen and (max-width: 800px) {
  .work-description--automate {
    padding: 0.1em 1em;
    padding-right: 2em;
  }
}
.work-description--automate h5 {
  color: #1a70b6;
  font-family: "roboto-bold";
}
.work-description--result {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.work-description--result li {
  display: block;
}
.work-description--result li {
  background-color: #f7f7f7;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
  color: #0f436e;
  font-size: 24px;
  font-family: "roboto-thin";
}

.contact .row {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0;
}
.contact .row .form h4 {
  font-family: "roboto-bold";
}
.contact .row .form p {
  font-size: 20px;
  font-family: "roboto-thin";
}
.contact .row .form .schedule-link {
  padding: 5px 10px;
  height: auto;
  margin: 25px 0;
}
.contact .row .form .schedule-link:hover {
  background-color: transparent !important;
  color: #0f436e;
}
.contact .row .illustr {
  background-image: url("../img/buidtogether.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}
footer .col h4 {
  font-family: "roboto-light";
}
footer .col p,
footer .col li {
  font-size: 18px;
  font-family: "roboto-thin";
  text-align: center;
}
footer .col a {
  line-height: 20px;
}

/*# sourceMappingURL=home.css.map */
