@font-face {
  font-family: "roboto-thin";
  src: url("../Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-italic";
  src: url("../Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-reg";
  src: url("../Roboto/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.android-float {
  position: fixed;
  bottom: 25px;
  right: 15px;
  padding: 15px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 900;
}

nav .nav-wrapper {
  padding-left: 15px;
}
nav .nav-wrapper .brand-logo span {
  font-size: 24px;
  vertical-align: center;
  font-family: "roboto-light";
}
nav .nav-wrapper .brand-logo img {
  width: 40px;
  margin-right: 20px !important;
}
.heading {
  background: url("../img/coder.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.heading__title {
  margin: 0;
  padding: 70px;
}
.heading__title h4 {
  font-family: "roboto-thin";
  margin: 0 !important;
}
.heading__title h4 span {
  font-family: "roboto-light";
}

.heading {
  background: url("../img/coder.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.heading .overlay {
  background-color: #2195f33d;
}
.heading .overlay .heading__title {
  margin: 0;
  padding: 70px;
}
.heading .overlay .heading__title h4 {
  font-family: "roboto-thin";
  margin: 0 !important;
}
.heading .overlay .heading__title h4 span {
  font-family: "roboto-light";
}
.heading .overlay .heading__title .heading__action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 35px 0;
}
.heading .overlay .heading__title .heading__action a {
  margin-right: 15px;
  font-size: 28px;
  font-family: "roboto-light";
  padding: 10px 15px;
  height: auto;
}

.introduction {
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
}
.introduction .me {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.introduction .me h4 {
  text-align: center;
  font-family: "roboto-light";
}
.introduction .me h4:first-child {
  margin: 50px auto;
}
.introduction .me h6 {
  text-align: center;
  font-family: "roboto-thin";
  margin: 0;
}
.introduction .me .card-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction .me .card-panel img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.introduction .detail {
  padding-top: 50px;
}
.introduction .detail .why-block {
  display: flex;
  align-items: flex-start;
}
.introduction .detail .why-block i {
  font-size: 50px;
}
.introduction .detail .why-block h4 {
  margin-top: 0;
  font-family: "roboto-bold";
}
.introduction .detail .why-block p {
  font-family: "roboto-thin";
  font-size: 20px;
}

/*# sourceMappingURL=home.css.map */
