@font-face {
  font-family: "roboto-thin";
  src: url("../Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-italic";
  src: url("../Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-reg";
  src: url("../Roboto/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.chat-zone {
  z-index: 1200;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  padding: 100px 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.chat-zone iframe {
  border: none;
}

.hidden {
  display: none;
}

.android-float {
  position: fixed;
  bottom: 25px;
  right: 15px;
  padding: 15px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 900;
}

nav .nav-wrapper {
  padding-left: 15px;
}
nav .nav-wrapper .brand-logo span {
  font-size: 24px;
  vertical-align: center;
  font-family: "roboto-light";
}
nav .nav-wrapper .brand-logo img {
  width: 40px;
  margin-right: 20px !important;
}
.heading {
  background: url("../img/coder.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.heading .overlay {
  background-color: #2195f33d;
}
.heading .overlay .heading__title {
  margin: 0;
  padding: 70px;
}
@media screen and (max-width: 840px) {
  .heading .overlay .heading__title h4,
.heading .overlay .heading__title h2 {
    text-align: center;
  }
}
.heading .overlay .heading__title h4 {
  font-family: "roboto-thin";
  margin: 0 !important;
}
.heading .overlay .heading__title h4 span {
  font-family: "roboto-light";
}
@media screen and (max-width: 840px) {
  .heading .overlay .heading__title .heading__action {
    justify-content: center;
  }
  .heading .overlay .heading__title .heading__action a {
    margin: 15px;
  }
}
.heading .overlay .heading__title .heading__action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 35px 0;
}
.heading .overlay .heading__title .heading__action a {
  margin-right: 15px;
  font-size: 28px;
  font-family: "roboto-light";
  padding: 10px 15px;
  height: auto;
}

.introduction {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 25px 0;
  width: 100%;
}
.introduction .me {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 700px) {
  .introduction .me {
    width: 100vw !important;
  }
}
.introduction .me h4 {
  text-align: center;
  font-family: "roboto-light";
}
.introduction .me h4:first-child {
  margin: 50px auto;
  font-family: "roboto-bold";
}
.introduction .me h6 {
  text-align: center;
  font-family: "roboto-thin";
  margin: 0;
}
.introduction .me .card-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction .me .card-panel img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.introduction .detail {
  padding-top: 50px;
}
@media screen and (max-width: 700px) {
  .introduction .detail {
    width: 100vw !important;
  }
}
.introduction .detail .why-block {
  display: flex;
  align-items: flex-start;
}
@media screen and (max-width: 1000px) {
  .introduction .detail .why-block {
    width: 100% !important;
  }
}
@media screen and (max-width: 600px) {
  .introduction .detail .why-block i {
    width: min-content;
  }
}
@media screen and (max-width: 600px) {
  .introduction .detail .why-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .introduction .detail .why-block h4 {
    font-size: 24px import !important;
    text-align: center;
    margin: 10px;
  }
  .introduction .detail .why-block p {
    font-size: 16px !important;
    text-align: center;
  }
  .introduction .detail .why-block i {
    font-size: 30px;
    margin: 25px auto;
  }
}
.introduction .detail .why-block i {
  font-size: 50px;
}
.introduction .detail .why-block h4 {
  margin-top: 0;
  font-family: "roboto-bold";
}
.introduction .detail .why-block p {
  font-family: "roboto-thin";
  font-size: 20px;
}

.media {
  padding: 30px 0;
  background: #e2e1e8;
  background: radial-gradient(circle, #e2e1e8 17%, #2195f3 97%);
}
.media h3 {
  text-align: center;
  font-family: "roboto-bold";
}
.media > p {
  font-family: "roboto-light";
  font-size: 20px;
  text-align: center;
  margin: 25px auto;
}
.media .article-block {
  margin: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.media .article-block .card-panel {
  padding: 0;
  margin: 15px;
}
@media screen and (max-width: 1120px) and (min-width: 600px) {
  .media .article-block .card-panel {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .media .article-block .card-panel {
    width: 75%;
  }
}
.media .article-block .card-panel img {
  width: 100% !important;
  height: 40%;
}
.media .article-block .card-panel .card-body {
  padding: 10px;
}
.media .article-block .card-panel .card-body h6 {
  font-family: "roboto-light";
}
.media .article-block .card-panel .card-body .title {
  font-size: 14px;
  font-family: "roboto-bold";
}
.media .article-block .card-panel .card-body .source {
  font-size: 12px;
  font-family: "roboto-bold";
}
.media .article-block .card-panel .card-body .more {
  border-radius: 3px;
  padding: 5px 10px;
  color: #2195f3;
}
.media .article-block .card-panel .card-body .more:hover {
  color: white;
  background-color: #2195f3;
}
.media .article-block .card-panel .card-body p {
  font-family: "roboto-thin";
  font-size: 14px;
  height: 30%;
}
.media .article-block .card-panel .card-body a {
  display: block;
  font-family: "roboto-bold";
  text-decoration: none;
  margin: 15px 0;
}

/*# sourceMappingURL=home.css.map */
