@import "./_config.scss";
@import "./_utilities.scss";

nav {
  .nav-wrapper {
    .brand-logo {
      display: flex;
      align-items: center;
      margin-top: 10px;
      span {
        font-size: 18px;
        font-family: "roboto-bold";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 3px 5px;
      }
      .first {
        background-color: $front;
        border-radius: 5px 0px 0px 5px;
      }
      .second {
        background-color: $primary;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid $front;
      }
      img {
        width: 40px;
        margin-right: 20px !important;
      }
    }
    padding-left: 15px;
    .nav-mobile {
      a {
        font-family: "roboto-light";
      }
    }
  }
}

.heading {
  background: url("../img/coder.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  .overlay {
    background-color: #2195f33d;
    .heading {
      &__title {
        margin: 0;
        padding: 70px;
        @media screen and (max-width: 840px) {
          h4,
          h2 {
            text-align: center;
          }
        }
        h4 {
          font-family: "roboto-thin";
          margin: 0 !important;
          span {
            font-family: "roboto-light";
          }
        }
        .heading {
          @media screen and (max-width: 840px) {
            &__action {
              justify-content: center;
              a {
                margin: 15px;
              }
            }
          }
          &__action {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 35px 0;
            a {
              margin-right: 15px;
              font-size: 28px;
              font-family: "roboto-light";
              padding: 10px 15px;
              height: auto;
              &:hover {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}
.row {
  margin-bottom: 0 !important;
}

.passport {
  display: flex;
  justify-content: space-between;
  padding: 10% 15%;
  width: 100%;
  &-profile {
    width: 25vw;
    border-radius: 50%;
    overflow: hidden;
    height: 23vw;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-identity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      display: flex;
      align-items: center;
      margin: 1em;
      i {
        font-size: 34px;
      }
      span {
        font-family: "roboto-light";
        font-size: 24px;
        margin-left: 1em;
      }
    }
  }
}

.introduction {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 25px 0;
  width: 100%;
  .intro-title {
    font-family: "roboto-light";
    text-align: center;
    border-bottom: 2px;
    background-color: linear-gradient(black, white, black);
    margin: 3% 0;
    padding: 0;
  }
  .me {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 700px) {
      width: 100vw !important;
    }
    h4 {
      text-align: center;
      font-family: "roboto-light";
      &:first-child {
        margin: 10% auto 5%;
        font-family: "roboto-light";
        i {
          font-size: 50px;
        }
      }
    }
    h6 {
      text-align: center;
      font-family: "roboto-thin";
      margin: 0;
    }
    .card-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }
  }
  .detail {
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .row {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    @media screen and (max-width: 700px) {
      width: 100vw !important;
    }
    .why-block {
      display: flex;
      margin-bottom: 5% !important;
      @media screen and (max-width: 1000px) {
        width: 100% !important;
      }
      @media screen and (max-width: 600px) {
        i {
          width: min-content;
        }
      }
      @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          font-size: 24px import !important;
          text-align: center;
          margin: 10px;
        }
        p {
          font-size: 16px !important;
          text-align: center;
        }
        i {
          font-size: 30px;
          margin: 25px auto;
        }
      }
      i {
        font-size: 50px;
      }
      h4 {
        margin-top: 0;
        font-family: "roboto-bold";
      }
      p {
        font-family: "roboto-thin";
        font-size: 20px;
      }
    }
  }
}

.media {
  padding: 30px 0;
  background: rgb(226, 225, 232);
  background: radial-gradient(circle, rgba(226, 225, 232, 1) 17%, $primary 97%);
  h3 {
    text-align: center;
    font-family: "roboto-light";
  }
  & > p {
    font-family: "roboto-light";
    font-size: 20px;
    text-align: center;
    margin: 25px auto;
  }
  .article-block {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card-panel {
      padding: 0;
      margin: 15px;
      @media screen and (max-width: 1120px) and (min-width: 600px) {
        width: 35%;
      }
      @media screen and (max-width: 600px) {
        width: 75%;
      }
      img {
        width: 100% !important;
        height: 40%;
      }
      .card-body {
        padding: 10px;
        h6 {
          font-family: "roboto-light";
        }
        .title {
          font-size: 14px;
          font-family: "roboto-bold";
        }
        .source {
          font-size: 12px;
          font-family: "roboto-bold";
        }
        .more {
          border-radius: 3px;
          padding: 5px 10px;
          color: #2195f3;
          &:hover {
            color: white;
            background-color: #2195f3;
          }
        }
        p {
          font-family: "roboto-thin";
          font-size: 14px;
          height: 30%;
        }
        a {
          display: block;
          font-family: "roboto-bold";
          text-decoration: none;
          margin: 15px 0;
        }
      }
    }
  }
}

.contact {
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    .form {
      h4 {
        font-family: "roboto-bold";
      }
      p {
        font-size: 20px;
        font-family: "roboto-thin";
      }
      .schedule-link {
        padding: 5px 10px;
        height: auto;
        margin: 25px 0;
        &:hover {
          background-color: transparent !important;
          color: $primary;
        }
      }
    }
    .illustr {
      background-image: url("../img/buidtogether.jpg");
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
    }
  }
}

footer {
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    h4 {
      font-family: "roboto-light";
    }
    p,
    li {
      font-size: 18px;
      font-family: "roboto-thin";
      text-align: center;
    }
    a {
      line-height: 20px;
    }
  }
}
