@import "./_config.scss";
@import "./_utilities.scss";

nav {
  .nav-wrapper {
    .brand-logo {
      display: flex;
      align-items: center;
      margin-top: 10px;
      span {
        font-size: 18px;
        font-family: "roboto-bold";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 3px 5px;
      }
      .first {
        background-color: $front;
        border-radius: 5px 0px 0px 5px;
      }
      .second {
        background-color: $primary;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid $front;
      }
      img {
        width: 40px;
        margin-right: 20px !important;
      }
    }
    padding-left: 15px;
  }
}

.heading {
  background: url("../img/coder.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  .overlay {
    background-color: #2195f33d;
    padding: 2em 0 5em;
    .heading {
      &__title {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10%;
        h1 {
          text-align: center;
          font-size: 45px;
          font-family: "roboto-bold";
        }
        h4 {
          font-size: 1.5em !important;
        }
        @media screen and (max-width: 840px) {
          h4 {
            text-align: center;
            font-size: 1em !important;
          }
          h1 {
            font-size: 2em;
            text-align: center;
          }
        }
        h4 {
          font-family: "roboto-thin";
          margin: 0 !important;
          span {
            font-family: "roboto-light";
          }
        }
        .heading {
          @media screen and (max-width: 840px) {
            &__action {
              justify-content: center;
              a {
                margin: 0.2em;
              }
            }
          }
          &__action {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 5% 0;
            a {
              margin-right: 15px;
              font-size: 20px;
              font-family: "roboto-light";
              padding: 10px 15px;
              height: auto;
              &:hover {
                background-color: $primary-light;
              }
              @media screen and (max-width: 840px) {
                padding: 5px 2px;
                font-size: 18px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
}
.row {
  margin-bottom: 0 !important;
}

.passport {
  // background: $primary;
  // position: relative;
  @media screen and (max-width: 700px) {
    justify-content: center;
    flex-wrap: wrap;
  }
  & > h5 {
    @include section-title;
  }
  padding: 2%;
  display: flex;
  justify-content: center;
  .passport-content {
    position: relative;
    top: -100px;
    display: flex;
    padding: 3% 5% 8%;
    width: 90%;
    border-radius: 35px;
    background-color: $front;
    box-shadow: 0px 0px 10px grey;
    @media screen and (max-width: 840px) {
      flex-direction: column;
      align-items: center;
      &-profile {
        width: 80vw;
        // border: 5px solid $primary;
      }
    }
    .passport-profile {
      width: 25vw;
      // border: 15px solid $primary;
      border-radius: 50%;
      overflow: hidden;
      height: 23vw;
      margin-bottom: 2rem;
      @media screen and (max-width: 840px) {
        border: 5px solid $primary-light;
        margin-bottom: 10%;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
    .passport-identity {
      display: flex;
      flex-direction: column;
      margin: 0 5%;
      // background-color: $primary;
      p {
        font-family: 'roboto-bold';
        display: flex;
        align-items: center;
        margin: 1em;
        i {
          font-size: 28px;
          color: $primary;
        }
        img {
          width: 30px;
          border-radius: 5px;
        }
        span {
          font-family: 'roboto-light';
          font-size: 16px;
          margin-left: .5em;
          color: $primary-light;
        }
      }
    }
  }
}

.introduction {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  .col {
    padding: 0;
  }
  .intro-title {
    @include section-title;
  }
  .me {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: 700px) {
      width: 100vw !important;
    }
    h4 {
      text-align: center;
      font-family: "roboto-light";
      &:first-child {
        margin: 10% auto 5%;
        font-family: "roboto-light";
        i {
          font-size: 50px;
        }
      }
    }
    h6 {
      text-align: center;
      font-family: "roboto-thin";
      margin: 0;
    }
    .card-panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
    }
  }
  .detail {
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .row {
      margin-left: auto !important;
      margin-right: auto !important;
    }

    @media screen and (max-width: 700px) {
      width: 100vw !important;
    }
    .why-block {
      display: flex;
      margin-bottom: 5% !important;
      @media screen and (max-width: 1000px) {
        width: 100% !important;
      }
      @media screen and (max-width: 600px) {
        i {
          width: min-content;
        }
      }
      @media screen and (max-width: 600px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          font-size: 24px import !important;
          text-align: center;
          margin: 10px;
        }
        p {
          font-size: 16px !important;
          text-align: center;
        }
        i {
          font-size: 30px;
          margin: 25px auto;
        }
      }
      i {
        font-size: 50px;
      }
      h4 {
        margin-top: 0;
        font-family: "roboto-bold";
      }
      p {
        font-family: "roboto-thin";
        font-size: 20px;
      }
    }
  }
}

.media {
  padding: 30px 0 8rem;
  padding-top: 0;
  background-color: $front-light;
  & > h5 {
    @include section-title;
  }
  // hr {
  //   height: 1px;
  //   background-color: #fff;
  //   border: none;
  // }
  & > p {
    font-family: "roboto-thin";
    font-size: 22px;
    text-align: center;
    margin: 3px 2em 1em;
    clear: both;
  }
  .article-block {
    margin: 2rem 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .spinner-block {
      margin: 5rem auto 8rem;
    }
    .card-panel {
      padding: 0;
      margin: 15px;
      border-radius: 10px;
      @media screen and (max-width: 1120px) and (min-width: 600px) {
        width: 35%;
      }
      @media screen and (max-width: 600px) {
        width: 75%;
      }
      img {
        width: 100% !important;
        height: 40%;
        border-radius: 10px 10px 0 0;
      }
      .card-body {
        padding: 10px;
        h6 {
          font-family: "roboto-light";
        }
        .title {
          font-size: 14px;
          font-family: "roboto-bold";
        }
        .source {
          font-size: 12px;
          font-family: "roboto-bold";
        }
        .more {
          border-radius: 3px;
          padding: 5px 10px;
          color: #2195f3;
          &:hover {
            color: white;
            background-color: #2195f3;
          }
        }
        p {
          font-family: "roboto-thin";
          font-size: 14px;
          height: 30%;
        }
        a {
          display: block;
          font-family: "roboto-bold";
          text-decoration: none;
          margin: 15px 0;
        }
      }
    }
  }
}

@mixin list-jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  li {
    display: block;
    // margin: 1em auto;
  }
}

//job description
.work {
  // overflow-x: scroll;
  width: 100vw;
  &--title {
    @include section-title;
  }
  &-description {
    overflow-x: scroll;
    width: 100%;
    clear: both;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em 7em;
    margin: 0 1%;
    &--init {
      @include action-jobs;
      h5 {
        color: $primary-light;
        font-family: "roboto-bold";
      }
    }
    &--process {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @include list-jobs;
      li {
        @include result-job;
        color: $primary;
        font-size: 24px;
        font-family: "roboto-thin";
        @media screen and (max-width: 800px) {
          font-size: 18px;
        }
      }
    }
    &--compute {
      display: flex;
      flex-direction: column;
      align-items: center;
      i {
        display: block;
        font-size: 35px;
        margin: 1em auto;
        padding: 0.5em;
        border-radius: 5px;
        background-color: $front;
        color: $primary-light;
      }
    }
    &--automate {
      @include action-jobs;
      h5 {
        color: $primary-light;
        font-family: "roboto-bold";
      }
    }
    &--result {
      @include list-jobs;
      li {
        @include result-job;
        color: $primary;
        font-size: 24px;
        font-family: "roboto-thin";
      }
    }
  }
}

.contact {
  & > h5 {
    @include section-title;
  }
  clear: both;
  .row {
    display: flex;
    clear: both;
    flex-wrap: wrap;
    padding: 30px 10rem;
    @media screen and (max-width: 700px) {
      padding: 5rem 2rem;
    }
    .form {
      h4 {
        font-family: "roboto-bold";
      }
      p {
        font-size: 20px;
        font-family: "roboto-thin";
      }
      .schedule-link {
        padding: 5px 10px;
        height: auto;
        margin: 25px 0;
        &:hover {
          background-color: transparent !important;
          color: $primary;
        }
      }
    }
    .illustr {
      background-image: url("../img/buidtogether.jpg");
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
    }
  }
}

footer {
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    h4 {
      font-family: "roboto-light";
    }
    p,
    li {
      font-size: 18px;
      font-family: "roboto-thin";
      text-align: center;
    }
    a {
      line-height: 20px;
    }
  }
}
