@import "./config";

.heading {
  background: url("../img/coder.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  &__title {
    margin: 0;
    padding: 70px;
    h4 {
      font-family: "roboto-thin";
      margin: 0 !important;
      span {
        font-family: "roboto-light";
      }
    }
    @media screen and (max-width: 650px) {
      padding: 10px;
      h4 {
        font-size: 18px;
      }
    }
  }
}

.project {
  &__title {
    padding: 20px 50px;
    margin: 0 !important;
  }
  // .row .col.s12 {
  //   margin: 0 !important;
  // }
  &__cards {
    padding: 50px 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      width: 45% !important;
      margin: 5%;
      border-radius: 15px;
      &-title {
        font-size: 20px !important;
      }
      &-reveal {
        background-color: $primary-light;
        opacity: 0.8;
        span {
          font-family: "roboto-bold";
          font-size: 26px !important;
        }
        p {
          font-size: 24px;
          font-family: "roboto-thin";
          color: $front;
        }
      }
      @media screen and (min-width: 676px) {
        margin: 5% 5% !important;
        width: 40% !important;
      }
      @media screen and (max-width: 675px) {
        margin: 5% 20% !important;
        width: 60% !important;
      }
    }
  }
}

.service {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .table-of-contents {
    a {
      &.active {
        border: none;
        font-family: "roboto-bold";
        color: $primary;
      }
      &:hover {
        border: none;
        font-family: "roboto-bold";
        color: $primary;
      }
    }
  }
  .collection {
    margin-top: 25px;
    padding: 0;
    border-radius: 10px;
    font-family: "roboto-light";
    .collection-header {
      font-family: "roboto-bold";
    }
    li {
      display: flex;
    }
  }
  .content {
    position: relative;
    display: flex;
    justify-content: center;
    .collection {
      position: sticky;
      top: 25px;
      height: min-content;
      @media screen and (max-width: 950px) {
        width: 100%;
        margin-top: 25px;
        li {
          justify-content: center;
        }
      }
    }
    .description-block {
      .service {
        &__description {
          h4 {
            font-family: "roboto-light";
          }
          h5 {
            font-family: "roboto-thin";
          }
          a {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 30px auto;
            width: 150px;
            &:hover {
              color: $primary !important;
              background-color: transparent;
            }
          }
        }
      }
      @media screen and (max-width: 950px) {
        width: 100%;
        h4,
        h5,
        a {
          text-align: center;
        }
      }
    }
  }
}

.competence {
  .parallax-container {
    // height: 50%;
  }
  .hero-img {
    // width: 100%;
    // width: 100%;
    img {
      width: 100%;
    }
  }
  .service-container {
    .collapsible {
      &-body {
        font-family: "roboto-thin";
      }
    }
    display: flex;
    justify-content: space-around;
    .hardskills {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 10px;
        font-family: "roboto-light";
      }
    }
    .softskills {
      font-family: "roboto-light";
    }
  }
}

.about {
  &__hero {
    position: relative;
    height: 200px;
    background-image: url("../img/cris_mind.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    img {
      width: 200px;
      height: 200px;
      position: absolute;
      left: 50px;
      bottom: -100px;
      border: 10px solid $front;
      border-radius: 50%;
    }
  }
  &__content {
    margin-top: 125px;
    display: flex;
    flex-wrap: wrap;
    background: rgb(15, 67, 110);
    background: linear-gradient(
      14deg,
      rgba(15, 67, 110, 1) 0%,
      rgba(255, 255, 255, 1) 70%
    );
    & > h3 {
      margin-left: 150px;
      @media screen and (max-width: 900px) {
        margin-left: 25px;
      }
    }
    .mydescription {
      margin-left: 200px;
      font-family: "roboto-light";
      .m8 {
        padding-right: 20%;
      }
      @media screen and (max-width: 900px) {
        margin-left: 50px;
      }
      .description-action {
        margin: 25px auto;
        a {
          &:hover {
            transition: 0.3s all;
            background-color: $primary-light;
          }
        }
      }
      .call-talk {
        font-family: "roboto-thin";
        margin: 25px auto;
      }
      .sylvia {
        display: flex;
        justify-content: center;
        background: rgb(15, 67, 110);
        background: linear-gradient(
          14deg,
          rgba(15, 67, 110, 1) 0%,
          rgba(255, 255, 255, 1) 70%
        );
        @media screen and (max-width: 900px) {
          width: 50%;
          margin: auto;
        }
        .card-panel {
          background: rgb(15, 67, 110);
          background: linear-gradient(
            14deg,
            rgba(15, 67, 110, 1) 0%,
            rgba(255, 255, 255, 1) 70%
          );
        }
        img {
          width: 80px;
          border-radius: 50%;
        }
        a {
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
          margin: 10px 0;
          &:hover {
            background-color: $primary-light;
          }
        }
      }
    }
    .curriculum {
      margin-left: 200px;
      margin-bottom: 50px;
      padding-right: 50%;
      @media screen and (max-width: 900px) {
        margin-left: 50px;
      }
      h5 {
        font-family: "roboto-thin";
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin: 25px 0;
        &:hover {
          background-color: $primary-light;
        }
      }
    }
  }
}

footer {
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    h4 {
      font-family: "roboto-light";
    }
    p,
    li {
      font-size: 18px;
      font-family: "roboto-thin";
      text-align: center;
    }
    a {
      font-weight: 400;
      line-height: 20px;
    }
  }
}

@import "./utilities";
