@import "./config";

nav {
  .nav-wrapper {
    .brand-logo {
      display: flex;
      align-items: center;
      margin-top: 10px;
      span {
        font-size: 18px;
        font-family: "roboto-bold";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 3px 5px;
      }
      .first {
        background-color: $front;
        border-radius: 5px 0px 0px 5px;
      }
      .second {
        background-color: $primary;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid $front;
      }
      img {
        width: 40px;
        margin-right: 20px !important;
      }
    }
    padding-left: 15px;
    .nav-mobile {
      a {
        font-family: "roboto-light";
      }
    }
  }
}

.tabs {
  overflow: hidden;
  @media screen and (max-width: 950px) {
    overflow-x: scroll;
  }
}

.sidenav {
  li {
    width: 100% !important;
    &:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100% !important;
      }
    }
  }
}

.heading {
  background: url("../img/coder.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  &__title {
    margin: 0;
    padding: 70px;
    h4 {
      font-family: "roboto-thin";
      margin: 0 !important;
      span {
        font-family: "roboto-light";
      }
    }
    @media screen and (max-width: 650px) {
      padding: 10px;
      h4 {
        font-size: 18px;
      }
    }
  }
}

.project {
  &__title {
    padding: 20px 50px;
    margin: 0 !important;
  }
  .cards {
    font-family: "roboto-light";
    justify-content: space-around;
    .card-panel {
      margin: 30px;
      &:last-child {
        margin: 10px 0px;
      }
    }
    .project {
      &__talk {
        display: flex;
        justify-content: center;
        h5 {
          font-family: "roboto-light";
        }
        i {
          font-size: 72px;
          text-align: center;
        }
      }
    }
    .row {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding-top: 26px;
      .card {
        .card-reveal {
          background: #2195f377;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}

.service {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .table-of-contents {
    a {
      &.active {
        color: $primary !important;
        border-color: $primary !important;
      }
      &:hover {
        color: $primary !important;
        border-color: $primary !important;
      }
    }
  }
  .collection {
    margin-top: 25px;
    padding: 0;
    font-family: "roboto-light";
    .collection-header {
      font-family: "roboto-bold";
    }
    li {
      display: flex;
    }
  }
  .content {
    position: relative;
    .collection {
      @media screen and (max-width: 950px) {
        width: 100%;
        margin-top: 25px;
        li {
          justify-content: center;
        }
      }
    }
    .description-block {
      .service {
        &__description {
          h4 {
            font-family: "roboto-light";
          }
          h5 {
            font-family: "roboto-thin";
          }
          a {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 30px auto;
            width: 150px;
          }
        }
      }
      @media screen and (max-width: 950px) {
        width: 100%;
        h4,
        h5,
        a {
          text-align: center;
        }
      }
    }
  }
}

.competence {
  .hero-img {
    width: 100vw;
    margin: 5px 0;
    img {
      width: 100%;
      height: 550px;
    }
  }
  .service-container {
    .collapsible {
      &-body {
        font-family: "roboto-thin";
      }
    }
    display: flex;
    justify-content: space-around;
    .hardskills {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .card-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: 10px;
        font-family: "roboto-light";
      }
    }
    .softskills {
      font-family: "roboto-light";
    }
  }
}

.about {
  &__hero {
    position: relative;
    height: 200px;
    background-image: url("../img/mebackdrop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    img {
      width: 200px;
      height: 200px;
      position: absolute;
      left: 50px;
      bottom: -100px;
      border-radius: 100%;
    }
  }
  &__content {
    margin-top: 125px;
    display: flex;
    flex-wrap: wrap;
    & > h3 {
      margin-left: 150px;
      @media screen and (max-width: 900px) {
        margin-left: 25px;
      }
    }
    .mydescription {
      margin-left: 200px;
      font-family: "roboto-light";
      @media screen and (max-width: 900px) {
        margin-left: 50px;
      }
      .description-action {
        margin: 25px auto;
      }
      .call-talk {
        font-family: "roboto-thin";
        margin: 25px auto;
      }
      .sylvia {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 900px) {
          width: 50%;
          margin: auto;
        }
        img {
          width: 100px;
        }
        a {
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
          margin: 10px 0;
        }
      }
    }
    .curriculum {
      margin-left: 200px;
      margin-bottom: 50px;
      @media screen and (max-width: 900px) {
        margin-left: 50px;
      }
      h5 {
        font-family: "roboto-thin";
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin: 25px 0;
      }
    }
  }
}

footer {
  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    h4 {
      font-family: "roboto-light";
    }
    p,
    li {
      font-size: 18px;
      font-family: "roboto-thin";
      text-align: center;
    }
    a {
      font-weight: 400;
      line-height: 20px;
    }
  }
}

@import "./utilities";
