@font-face {
  font-family: "roboto-thin";
  src: url("../Roboto/Roboto-Thin.ttf");
}
@font-face {
  font-family: "roboto-bold";
  src: url("../Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "roboto-italic";
  src: url("../Roboto/Roboto-Italic.ttf");
}
@font-face {
  font-family: "roboto-light";
  src: url("../Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "roboto-reg";
  src: url("../Roboto/Roboto-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  z-index: 3000;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  box-shadow: inset 0 0 5px #fff;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #145992;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

.heading {
  background: url("../img/coder.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}
.heading__title {
  margin: 0;
  padding: 70px;
}
.heading__title h4 {
  font-family: "roboto-thin";
  margin: 0 !important;
}
.heading__title h4 span {
  font-family: "roboto-light";
}
@media screen and (max-width: 650px) {
  .heading__title {
    padding: 10px;
  }
  .heading__title h4 {
    font-size: 18px;
  }
}

.project__title {
  padding: 20px 50px;
  margin: 0 !important;
}
.project__cards {
  padding: 50px 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project__cards .card {
  width: 45% !important;
  margin: 5%;
  border-radius: 15px;
}
.project__cards .card .card-title {
  font-size: 20px !important;
}
@media screen and (min-width: 676px) {
  .project__cards .card {
    margin: 5% 5% !important;
    width: 40% !important;
  }
}
@media screen and (max-width: 675px) {
  .project__cards .card {
    margin: 5% 20% !important;
    width: 60% !important;
  }
}

.service {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.service .table-of-contents a.active {
  border: none;
  font-family: "roboto-bold";
  color: #0f436e;
}
.service .table-of-contents a:hover {
  border: none;
  font-family: "roboto-bold";
  color: #0f436e;
}
.service .collection {
  margin-top: 25px;
  padding: 0;
  font-family: "roboto-light";
}
.service .collection .collection-header {
  font-family: "roboto-bold";
}
.service .collection li {
  display: flex;
}
.service .content {
  position: relative;
  display: flex;
  justify-content: center;
}
.service .content .collection {
  position: sticky;
  top: 25px;
  height: min-content;
}
@media screen and (max-width: 950px) {
  .service .content .collection {
    width: 100%;
    margin-top: 25px;
  }
  .service .content .collection li {
    justify-content: center;
  }
}
.service .content .description-block .service__description h4 {
  font-family: "roboto-light";
}
.service .content .description-block .service__description h5 {
  font-family: "roboto-thin";
}
.service .content .description-block .service__description a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
  width: 150px;
}
.service .content .description-block .service__description a:hover {
  color: #0f436e !important;
  background-color: transparent;
}
@media screen and (max-width: 950px) {
  .service .content .description-block {
    width: 100%;
  }
  .service .content .description-block h4,
.service .content .description-block h5,
.service .content .description-block a {
    text-align: center;
  }
}

.competence .hero-img {
  width: 100%;
}
.competence .hero-img img {
  width: 100%;
}
.competence .service-container {
  display: flex;
  justify-content: space-around;
}
.competence .service-container .collapsible-body {
  font-family: "roboto-thin";
}
.competence .service-container .hardskills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.competence .service-container .hardskills .card-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  font-family: "roboto-light";
}
.competence .service-container .softskills {
  font-family: "roboto-light";
}

.about__hero {
  position: relative;
  height: 200px;
  background-image: url("../img/cris_mind.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.about__hero img {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50px;
  bottom: -100px;
  border: 10px solid #fff;
  border-radius: 50%;
}
.about__content {
  margin-top: 125px;
  display: flex;
  flex-wrap: wrap;
  background: #0f436e;
  background: linear-gradient(14deg, #0f436e 0%, white 46%);
}
.about__content > h3 {
  margin-left: 150px;
}
@media screen and (max-width: 900px) {
  .about__content > h3 {
    margin-left: 25px;
  }
}
.about__content .mydescription {
  margin-left: 200px;
  font-family: "roboto-light";
}
.about__content .mydescription .m8 {
  padding-right: 20%;
}
@media screen and (max-width: 900px) {
  .about__content .mydescription {
    margin-left: 50px;
  }
}
.about__content .mydescription .description-action {
  margin: 25px auto;
}
.about__content .mydescription .call-talk {
  font-family: "roboto-thin";
  margin: 25px auto;
}
.about__content .mydescription .sylvia {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  .about__content .mydescription .sylvia {
    width: 50%;
    margin: auto;
  }
}
.about__content .mydescription .sylvia img {
  width: 80px;
  border-radius: 50%;
}
.about__content .mydescription .sylvia a {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 10px 0;
}
.about__content .mydescription .sylvia a:hover {
  background-color: transparent;
  color: #0f436e;
}
.about__content .curriculum {
  margin-left: 200px;
  margin-bottom: 50px;
  padding-right: 50%;
}
@media screen and (max-width: 900px) {
  .about__content .curriculum {
    margin-left: 50px;
  }
}
.about__content .curriculum h5 {
  font-family: "roboto-thin";
}
.about__content .curriculum a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 25px 0;
}
.about__content .curriculum a:hover {
  color: #0f436e;
  background-color: transparent;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}
footer .col h4 {
  font-family: "roboto-light";
}
footer .col p,
footer .col li {
  font-size: 18px;
  font-family: "roboto-thin";
  text-align: center;
}
footer .col a {
  font-weight: 400;
  line-height: 20px;
}

.chat-zone {
  z-index: 1200;
  position: fixed;
  bottom: 0px;
  right: 0px;
  left: 0px;
  top: 0px;
  padding: 100px 35px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.chat-zone iframe {
  border: none;
}

.bg-primary {
  background-color: #0f436e;
}

.text-primary {
  color: #0f436e;
}

nav .nav-wrapper {
  padding-left: 15px;
}
nav .nav-wrapper .brand-logo {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
nav .nav-wrapper .brand-logo span {
  font-size: 18px;
  font-family: "roboto-bold";
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 3px 5px;
}
nav .nav-wrapper .brand-logo .first {
  background-color: #fff;
  border-radius: 5px 0px 0px 5px;
}
nav .nav-wrapper .brand-logo .second {
  background-color: #0f436e;
  border-radius: 0px 5px 5px 0px;
  border: none !important;
}
nav .nav-wrapper .brand-logo img {
  width: 40px;
  margin-right: 20px !important;
}
@media screen and (max-width: 600px) {
  nav .nav-wrapper .brand-logo span {
    height: 20px;
    padding: 2px 3px;
  }
  nav .nav-wrapper .brand-logo .first {
    border-radius: 2px 0px 0px 2px;
  }
  nav .nav-wrapper .brand-logo .second {
    border-radius: 0px 2px 2px 0px;
  }
}
nav .nav-wrapper .nav-mobile a {
  font-family: "roboto-light";
}

.nav-content .tabs {
  overflow: hidden;
}
@media screen and (max-width: 950px) {
  .nav-content .tabs {
    overflow-x: hidden;
  }
}

.sidenav li {
  width: 100% !important;
}
.sidenav li:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav li:first-child img {
  width: 100% !important;
}

.footer-copyright {
  box-shadow: 0px 0px 10px #1a70b6;
  margin-top: 3%;
}

.hidden {
  display: none;
}

.android-float {
  position: fixed;
  bottom: 25px;
  right: 15px;
  padding: 15px;
  font-size: 25px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 900;
  box-shadow: 0px 0px 10px #fff;
}

.modal {
  padding: 10px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.modal:focus {
  outline: none;
}
.modal .row {
  display: flex !important;
  align-items: center;
}
.modal .modal-footer {
  display: flex;
  justify-content: flex-end;
}
.modal .modal-footer a {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: flex-end;
  padding: 5px 15px;
  border-radius: 3px;
}
.modal .modal-footer a i {
  margin-left: 10px;
}
.modal .modal-footer a:hover {
  background-color: #0f436e;
  color: #fff;
}
.modal .modal-footer a:hover i {
  color: #fff;
}
.modal option,
.modal span,
.modal label {
  color: #0f436e !important;
}
.modal i {
  font-size: 30px;
  color: #0f436e;
}

/*# sourceMappingURL=style.css.map */
